<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더 반드시 첫번째 줄에 위치 -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

    <mapper namespace="approval">
    
    	<select id="selectList" resultType="ApprovalDto">
    		select * from approval
    	</select>
    	<select id="selectOne" resultType="ApprovalDto">
    		select * from approval where draft_no=#{draftNo}
    	</select>
    	
    	<insert id="insert" >
    		insert into approval( 
    		draft_no,draft_title,draft_content,
    		drafter_id, first_approver, second_approver,
    		third_approver, final_approver, isemergency
    		) 
    		values(
    		approval_seq.nextval,#{draftTitle},#{draftContent},
    		#{drafterId}, #{firstApprover}, #{isemergency}
    		)
    	</insert>
    	
    	<select id="search" resultType="ApprovalDto">
    		select * from approval where instr(${column}, #{keyword}) >0 order by ${column} asc
    		
    	</select>

		<update id="editAllInOne">
			update approval
			<set>
				<if test="name!=null">
					name=#{name},
				</if>
				<if test="type!=null">
					type=#{type},
				</if>
			</set>
			where no=#{no}
		</update>    	
    	
    	
    </mapper>