<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더 반드시 첫번째 줄에 위치 -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

    <mapper namespace="approval">
   	   	<!-- 시퀀스 번호 생성 -->
   	    <select id="approvalSequence" resultType="int">
      	  select approval_seq.nextval from dual
    	</select>
    	
    	<select id="selectList" resultType="ApprovalDto">
    		select * from approval order by draft_no
    	</select>
    	
    	<select id="selectOne" resultType="ApprovalDto">
    		select * from approval where draft_no=#{draftNo}
    	</select>
    	
    	<insert id="insert" >
    		insert into approval( 
    		draft_no,draft_title,draft_content,
    		drafter_no, isemergency
    		) 
    		values(
    		#{draftNo},#{draftTitle},#{draftContent},
    		#{drafterNo}, #{isemergency}
    		)
    	</insert>
    	
    	<select id="search" resultType="ApprovalDto">
    		select * from approval where instr(${column}, #{keyword}) >0 order by ${column} asc
    	</select>

		<update id="editAllInOne">
			update approval
			<set>
				<if test="draftTitle!=null">
					draft_title=#{draftTitle},
				</if>
				<if test="draftContent!=null">
					draft_content=#{draftContent},
				</if>
			</set>
			where draft_no=#{draftNo}
		</update>    	
		
		<delete id="remove">
			delete approval where draft_no = #{draftNo}
		</delete>
    	
    	<!-- 결재자 추가 -->
    	<insert id="approverInsert">
    		insert into approver(
    		approver_no, draft_no, approver_order
    		)
    		values(
    		#{approverNo}, #{draftNo}, #{approverOrder}
    		)
    	</insert>
    	
    	<!-- 합의자 추가 -->
    	<insert id="agreeorInsert">
    		insert into agreeor(
    		agreeor_no, draft_no
    		)
    		values(
    		#{agreeorNo}, #{draftNo}
    		)
    	</insert>
    	
    	<!-- 참조자 추가 -->
    	<insert id="recipientInsert">
    		insert into recipient(
    		recipient_no, draft_no
    		)
    		values(
    		#{recipientNo}, #{draftNo}
    		)
    	</insert>
    	
    	<!-- 열람자 추가 -->
    	<insert id="readerInsert">
    		insert into reader(
    		reader_no, draft_no
    		)
    		values(
    		#{readerNo}, #{draftNo}
    		)
    	</insert>
    	
    </mapper>