<?xml version="1.0" encoding="UTF-8"?>
<!-- ↑ XML 헤더 반드시 첫번째 줄에 위치 -->

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="CalendarMapper">
	<resultMap type="calendarScheduleDto" id="calendarScheduleDtoResultMap">
		<id property="schNo" column="SCH_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="calNo" column="CAL_NO"/>
		<result property="schName" column="SCH_NAME"/>
		<result property="schStartDate" column="SCH_START_DATE"/>
		<result property="schStartTime" column="SCH_START_TIME"/>
		<result property="schEndDate" column="SCH_END_DATE"/>
		<result property="schEndTime" column="SCH_END_TIME"/>
		<result property="schContent" column="SCH_CONTENT"/>
		<result property="schCate" column="SCH_CATE"/>
		<result property="schColor" column="SCH_COLOR"/>
	</resultMap>
	<resultMap type="CalendarDto" id="calendarResultMap">
		<id property="calNo" column="CAL_NO"/>
		<result property="schNo" column="SCH_NO"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="calName" column="CAL_NAME"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="empDivision" column="EMP_DIVISION"/>
		<result property="empRank" column="EMP_RANK"/>
	</resultMap>
	<insert id="insertMySchedule">
		INSERT INTO SCHEDULE VALUES(SEQ_SCH_NO.NEXTVAL, #{empNo}, #{calNo}, #{schName}, #{schStartDate}, #{schStartTime}, #{schEndDate}, #{schEndTime}, #{schContent}, #{schCate}, #{schColor}) 
	</insert>
	<insert id="insertComSchedule">
		INSERT INTO SCHEDULE VALUES(SEQ_SCH_NO.NEXTVAL, #{empNo}, #{calNo}, #{schName}, #{schStartDate}, #{schStartTime}, #{schEndDate}, #{schEndTime}, #{schContent}, '전사', #{schColor}) 
	</insert>
	<insert id="insertDeptSchedule">
		INSERT INTO SCHEDULE VALUES(SEQ_SCH_NO.NEXTVAL, #{empNo}, #{calNo}, #{schName}, #{schStartDate}, #{schStartTime}, #{schEndDate}, #{schEndTime}, #{schContent}, '부서', #{schColor}) 
	</insert>
	<insert id="insertCalendar">
		INSERT INTO CALENDAR (CAL_NO, CAL_NAME, EMP_NO) VALUES(cal_no_seq.NEXTVAL, #{calName}, #{empNo} )	
	</insert>
	<update id="updateSchedule">
	 	UPDATE SCHEDULE SET SCH_NAME = #{schName}, SCH_START_DATE = #{schStartDate}, SCH_START_TIME = #{schStartTime}, SCH_END_DATE = #{schEndDate}, SCH_END_TIME = #{schEndTime}, SCH_CONTENT = #{schContent}, 
	 	SCH_COLOR = #{schColor}
	 	<if test="calNo != null">
	 		, CAL_NO = #{calNo}
	 	</if>
	 	WHERE EMP_NO = #{empNo} AND SCH_NO = #{schNo}
	</update>
	<delete id="deleteSchedule">
		DELETE FROM SCHEDULE WHERE SCH_NO = #{schNo} 
	</delete>
	<select id="selectAllSchedule" resultMap="calendarScheduleDtoResultMap">
		SELECT SCH_NO, EMP_NO, CAL_NO, SCH_NAME, SCH_CONTENT, SCH_START_DATE, TO_DATE(SCH_END_DATE, 'YYYY-MM-DD') + 1 AS SCH_END_DATE, SCH_START_TIME, SCH_END_TIME, SCH_COLOR, SCH_CATE FROM SCHEDULE WHERE EMP_NO = #{empNo} OR SCH_CATE = '전사'
	</select>
	<select id="selectAllComSchedule" resultMap="calendarScheduleDtoResultMap">
		SELECT SCH_NO, EMP_NO, CAL_NO, SCH_NAME, SCH_CONTENT, SCH_START_DATE, TO_DATE(SCH_END_DATE, 'YYYY-MM-DD') + 1 AS SCH_END_DATE, SCH_START_TIME, SCH_END_TIME, SCH_COLOR, SCH_CATE FROM SCHEDULE
		<if test="calNo != null">
			WHERE EMP_NO = #{empNo} AND CAL_NO = #{calNo}
		</if>
		<if test="calNo == null">
			WHERE SCH_CATE = #{schCate}
		</if>
	</select>
	<select id="selectOneSchedule" resultMap="calendarScheduleDtoResultMap">
		SELECT * FROM SCHEDULE WHERE SCH_NO = #{schNo}
	</select>
	<select id="selectCalMyList" resultMap="calendarResultMap">
		SELECT * FROM CALENDAR WHERE EMP_NO = #{empNo} 
	</select>
	<delete id="deleteCalendar">
		DELETE FROM CALENDAR WHERE CAL_NO = #{calNo} 
	</delete>
	
	<!-- 홈 - 일정 -->
	<select id="selectListHomeCal" resultMap="calendarScheduleDtoResultMap"><!-- 일정 목록 -->
		SELECT * FROM SCHEDULE WHERE (EMP_NO = #{empNo} OR SCH_CATE = '전사') AND SCH_START_DATE <![CDATA[<]]>= TO_DATE(#{schStartDate}, 'YYYY-MM-DD') AND SCH_END_DATE <![CDATA[>]]>= TO_DATE(#{schStartDate}, 'YYYY-MM-DD') ORDER BY SCH_START_DATE, SCH_START_TIME
	</select>
	<select id="selectOneHomeCal" resultMap="calendarScheduleDtoResultMap"><!-- 일정 상세 -->
		SELECT SCHEDULE.SCH_NO AS SCH_NO, CAL_NAME AS CAL_NO, SCH_NAME, SCH_START_DATE, SCH_END_DATE, SCH_START_TIME, SCH_END_TIME, SCH_CONTENT, SCH_CATE FROM SCHEDULE LEFT JOIN CALENDAR USING(CAL_NO) WHERE SCHEDULE.SCH_NO = #{schNo}
	</select>
	<select id="selectAllHomeCal" resultMap="calendarScheduleDtoResultMap"><!-- 전체 일정 목록 -->
		SELECT SCH_NO, EMP_NO, CAL_NO, SCH_NAME, SCH_START_DATE, TO_DATE(SCH_END_DATE, 'YYYY-MM-DD') + 1 AS SCH_END_DATE, SCH_COLOR FROM SCHEDULE WHERE (EMP_NO = #{empNo} OR SCH_CATE = '전사')
	</select>
	
	<!-- 알림 -->
	<select id="selectLastcalendarScheduleDto" resultMap="calendarScheduleDtoResultMap">
		SELECT * FROM SCHEDULE WHERE SCH_CATE = '전사' AND SCH_NO = (SELECT MAX(SCH_NO) FROM SCHEDULE WHERE SCH_CATE = '전사')
	</select>
	</mapper>