<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="commuteRecord">
	<!-- 출근시간 -->
	<insert id="start">
		insert into commute_record(emp_no,start_time) values(#{empNo},sysdate)
	</insert>
	<!-- 퇴근시간 -->
	<update id="end">
		UPDATE commute_record
		SET end_time = sysdate
		WHERE emp_no = #{empNo}
  		AND start_time = (SELECT MAX(start_time) FROM commute_record WHERE emp_no = #{empNo})
	</update>
	
	<!-- 사원 출퇴근 전체 조회 -->
	<select id="allList" resultType="CommuteRecordDto">
		select * from commute_record where emp_no= #{empNo}
	</select>
	
	<!-- 사원 오늘날짜 출퇴근 조회 -->
	<select id="today" resultType="CommuteRecordDto">
		SELECT TO_CHAR(start_Time, 'yy/MM/dd HH24:MI:SS') AS start_Time,
        TO_CHAR(end_Time, 'yy/MM/dd HH24:MI:SS') AS end_Time
		FROM COMMUTE_RECORD
		WHERE EMP_NO = #{empNo} AND 
        TO_CHAR(start_Time, 'yy/MM/dd') = TO_CHAR(CURRENT_DATE, 'yy/MM/dd')
	</select>


	
</mapper>
