<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="employee">
	
	<!-- 사원 등록 -->
	<insert id="save">
		insert into employee(
			emp_no, emp_name, emp_password, emp_email,
			emp_phone, emp_address, emp_detail_address, emp_postcode,
			emp_hire_date, is_leave, cp_number, job_no, dept_no, emp_admin
		)
		values(
			#{empNo}, #{empName}, #{empPassword} , #{empEmail},
			#{empPhone}, #{empAddress}, #{empDetailAddress}, #{empPostcode},
			#{empHireDate}, 'N', #{cpNumber}, #{jobNo}, #{deptNo}, 'N'
		)
	</insert>
	
	<!-- 사원 상세조회 -->
	<select id="find" resultType="employeeDto">
		select * from employee where emp_no = #{empNo}
	</select>
	
	<!-- 사원 리스트(N) -->
	<select id="list" resultType="employeeDto">
		select EMP.*, IMG.attachment_no from employee EMP left outer join emp_profile IMG on EMP.emp_no = IMG.emp_no
		where is_leave = 'N'
	</select>
	
	<!-- 사원순 -->
	<select id="count" resultType="int">
	 	 SELECT COUNT(*) FROM employee 
	 	 where is_leave = 'N'
	</select>
	
	<!-- 사원 목록 페이지네이션(N) -->
	<select id="getEmployeeList" resultType="employeeDto" parameterType="com.kh.synergyZone.vo.PaginationVO">
	  <![CDATA[
	  SELECT *
	  FROM (
	    SELECT e.*, ROWNUM AS rn
	    FROM employee e
	    WHERE is_leave = 'N' AND ROWNUM <= #{end}
	  )
	  WHERE rn >= #{begin}
	  ]]>
	</select>
	
	<!-- 사원 목록 검색(N) -->
	<select id="searchEmployees" resultType="EmployeeInfoDto">
    	select *
	    from search_info
	    where instr(${column}, #{keyword}) > 0
	      and is_leave = 'N'
	    order by ${column} asc
    </select>
    
    <!-- 사원 정보 수정 -->
	<update id="edit">
		update employee set
		emp_name = #{empName}, emp_email = #{empEmail},
		emp_phone = #{empPhone}, emp_hire_date = #{empHireDate}, 
		cp_number = #{cpNumber}, job_no = #{jobNo}, dept_no = #{deptNo}
		where emp_no = #{empNo}
	</update>
	
	<!-- 사원 정보 수정 -->
	<update id="employeeEdit">
		update employee set
		emp_email = #{empEmail}, emp_phone = #{empPhone}
		where emp_no = #{empNo}
	</update>
	
	<!-- 계층형 조회 resultMap -->
	<resultMap type="DeptEmpListVO" id="DeptEmpListVO">
		<association property="departmentDto">
			<result column="dept_no" property="deptNo"/>
			<result column="dept_name" property="deptName"/>
		</association>
		<collection property="employeeList"
			javaType="java.util.List" ofType="EmployeeInfoDto "
			select="treeSelectSub"
			column="dept_no" >
			<result column="emp_no" property="empNo"/>
			<result column="emp_name" property="empName"/>
			<result column="emp_password" property="empPassword"/>
			<result column="emp_email" property="empEmail"/>
			<result column="emp_phone" property="empPhone"/>
			<result column="emp_address" property="empAddress"/>
			<result column="emp_detail_address" property="empDetailAddress"/>
			<result column="emp_postcode" property="empPostcode"/>
			<result column="emp_hire_date" property="empHireDate"/>
			<result column="is_leave" property="isLeave"/>
			<result column="emp_admin" property="empAdmin"/>
			<result column="cp_number" property="cpNumber"/>
			<result column="job_no" property="jobNo"/>
			<result column="dept_no" property="deptNo"/>
			<result column="dept_name" property="deptName"/>
			<result column="job_name" property="jobName"/>
			
		</collection>
	</resultMap>
	
	
	<!-- 계층형 조회 메인 구문 -->
	<select id="treeSelect" resultMap="DeptEmpListVO">
		select*from department order by dept_no asc
	</select>
	
	<!-- 계층형 조회 서브 구문 -->
	<select id="treeSelectSub" resultType="employeeInfoDto">
		select * from search_info 
		where dept_no = #{deptNo} and is_leave = 'N'
		<if test="empName != '' ">
			and instr(emp_name, #{empName}) >0
		</if>
		order by job_no desc
	</select>
	
	<!-- 사원번호 -->
	<select id="lastEmpNoOfYear" resultType="String">
		select max(emp_no)
		from employee
		where emp_no like concat(#{year}, '%')
	</select>
	
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" resultType="employeeDto">
		select emp_email from employee where emp_no = #{empNo} and emp_email = #{empEmail}
	</select>
	
	<!-- 임시 비밀번호 -->	
	<update id="changePw">
		update employee 
		set emp_password = #{empPassword}
		where emp_no = #{empNo}
	</update>
	
	<!-- 관리자 권한 부여 -->
	<update id="authorityAdmin">
		update employee
		set emp_admin = #{empAdmin}
		where emp_no = #{empNo}
	</update>
	
	<!-- 관리자 목록 -->
	<select id="adminList" resultType="employeeInfoDto">
		select * from search_info where emp_admin = 'Y' order by emp_no asc
	</select>
	
	<!-- 관리자 목록 -->
	<select id="searchAdminList" resultType="employeeInfoDto">
		select * from search_info where instr(${column}, #{keyword}) > 0 and emp_admin = 'Y' order by ${column} asc
	</select>
	
	<!-- 퇴사 -->
	<!-- 퇴사 대기 -->
	<update id="exit">
		update employee set
		is_leave = #{isLeave}
		where emp_no = #{empNo}
	</update>
	
	<!-- 사원 삭제 -->
	<!-- 	<delete id="delete"> -->
	<!-- 		delete from employee where emp_no = #{empNo} -->
	<!-- 	</delete> -->

	<!--퇴사 대기 목록 -->
	<select id="waitingList" resultType="employeeInfoDto">
		select * from search_info where is_leave = 'D'
	</select>
	
	<!-- 퇴사 대기 사원 카운트 -->
	<select id="waitingEmployeesCount" resultType="int">
	 	 SELECT COUNT(*) FROM search_info where is_leave = 'D'
	</select>
	
	<!-- 퇴사 대기 검색 -->
	<select id="searchWaitingEmployees" resultType="EmployeeInfoDto">
	    SELECT *
	    FROM search_info
	    WHERE is_leave = 'D'
	      AND instr(${column}, #{keyword}) > 0
	    ORDER BY ${column} ASC
	</select>

	<!-- 퇴사 대기 페이지네이션 -->
	<select id="getWaitingList" resultType="employeeInfoDto" parameterType="com.kh.synergyZone.vo.PaginationVO">
	  <![CDATA[
	  SELECT *
	  FROM (
	    SELECT e.*, ROWNUM AS rn
	    FROM search_info e
	    WHERE is_leave = 'D' AND ROWNUM <= #{end}
	  )
	  WHERE rn >= #{begin}
	  ]]>
	</select>
	
	<!-- 퇴사 -->
	<update id="finalExit">
		update employee set
		emp_email = #{empEmail}, emp_phone = #{empPhone}, emp_address = #{empAddress},
		emp_detail_address = #{empDetailAddress}, emp_postcode = #{empPostcode}, 
		is_leave = #{isLeave}
		where emp_no = #{empNo}
	</update>
	
	<!-- 최종 퇴사 대기 사원 카운트 -->
	<select id="exitEmployeesCount" resultType="int">
	 	 SELECT COUNT(*) FROM employee where is_leave = 'Y'
	</select>
	
	<!--퇴사 대기 목록 -->
	<select id="exitEmployeesList" resultType="employeeInfoDto">
		select * from search_info where is_leave = 'Y'
	</select>
	
	<!-- 최종 퇴사 대기 검색 -->
	<select id="searchExitEmployees" resultType="EmployeeInfoDto">
	  select distinct *
	  from search_info
	  where instr(${column}, #{keyword}) > 0
	    and is_leave = 'Y'
	  order by ${column} asc
	</select>

	<!--최종 퇴사 페이지네이션 -->
	<select id="getExitList" resultType="employeeInfoDto" parameterType="com.kh.synergyZone.vo.PaginationVO">
	  <![CDATA[
	  SELECT *
	  FROM (
	    SELECT e.*, ROWNUM AS rn
	    FROM search_info e
	    WHERE is_leave = 'Y' AND ROWNUM <= #{end}
	  )
	  WHERE rn >= #{begin}
	  ]]>
	</select>
	
	<select id="empId" resultType="employeeDto">
		select emp_name from employee where emp_no=#{empNo}
	</select>

</mapper>