<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="empProfile">

	<insert id="insertProfile">
		insert into emp_profile(
			emp_no,
			attachment_no
		)
		values(
			#{empNo},
			#{attachmentNo}
		)
	</insert>
	
	<select id="find" resultType="employeeProfileDto">
		select * from emp_profile where emp_no = #{empNo}
	</select>
	
	<update id="updateProfile">
		update emp_profile
		set attachment_no = #{attachmentNo}
		where emp_no = #{empNo}
	</update>
	
	<delete id="deleteProfile">
		delete from emp_profile where emp_no = #{empNo}
	</delete>
</mapper>