<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="employee">
	<insert id="save">
		insert into employee(
			emp_no, emp_name, emp_password, emp_email,
			emp_phone, emp_address, emp_detail_address, emp_postcode,
			emp_hire_date, is_leave, cp_number, job_no, dept_no, wt_code
		)
		values(
			#{empNo}, #{empName}, #{empPassword}, #{empEmail},
			#{empPhone}, #{empAddress}, #{empDetailAddress}, #{empPostcode},
			sysdate, 'N', #{cpNumber}, #{jobNo}, #{deptNo}, #{wtCode}
		)
	</insert>
	
	<select id="find" resultType="employeeDto">
		select * from employee where emp_no = #{empNo}
	</select>
	
	<select id="list" resultType="employeeDto">
		select * from employee order by emp_no asc
	</select>
	
<!-- 	<update id="edit"> -->
<!-- 		update employee set -->
<!-- 		emp_no = #{empNo}, emp_name = #{empName}, emp_password = #{empPassword}, emp_email = #{empEmail}, -->
<!-- 		emp_phone = #{empPhone}, emp_hire_date = #{empHireDate},  -->
<!-- 		cp_number = #{cpNumber}, job_no = #{jobNo}, dept_no = #{deptNo}, wt_code = #{wtCode} -->
<!-- 		where emp_no = #{empNo} -->
<!-- 	</update> -->
	
	<update id="exit">
		update employee set
		is_leave = #{isLeave}
		where emp_no = #{empNo}
	</update>
	
	<delete id="delete">
		delete from employee where emp_no = #{empNo}
	</delete>
	
</mapper>