<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="loginRecord">

	<insert id="save">
		insert into log(
			emp_no, log_login, log_ip, log_browser
		)
		values(
			#{empNo}, #{logLogin}, #{logIp}, #{logBrowser}
		)
	</insert>
	
	<select id="list" resultType="loginRecordDto">
		select * from log order by log_login asc
	</select>
	
	<select id="complexSearch" resultType="LoginRecordInfoDto">
		<bind name="empNameExist" value="empName != null and !empName.equals('')"/>
		<bind name="searchLoginDaysExist" value="searchLoginDays != null and !searchLoginDays.equals('')"/> 
		
		select * from search_log_info
		
		<where>
		
			<!-- 사원명 -->
			<if test="empNameExist">
				and emp_name = #{empName}
			</if>
			
			<!-- 최근 기록 -->
			<if test="searchLoginDaysExist">
				and log_login between
					to_date(
						to_char(sysdate - #{searchLoginDays}, 'YYYY-MM-DD'),
						'YYYY-MM-DD'
					) 
					and 
					sysdate
			</if>
			
		</where>
	</select>


</mapper>