<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="main">

	<select id="msg" resultType="MessageWithNickDto">
		SELECT *
		FROM (
		SELECT
		*
		FROM MESSAGE_WITH_NICK
		WHERE
		MESSAGE_RECIPIENT = #{empNo}
		ORDER BY MESSAGE_SEND_TIME DESC
		)
		WHERE <![CDATA[ ROWNUM <=4 ]]>
	</select>

	<select id="free" resultType="BoardDto">
		SELECT *
		FROM (
		SELECT *
		FROM board
		ORDER BY BOARD_TIME DESC
		)
		WHERE <![CDATA[ ROWNUM <=5 ]]>
	</select>
	
	<select id="notices" resultType="NoticeDto">
		SELECT *
		FROM (
		SELECT *
		FROM NOTICE
		ORDER BY NOTICE_TIME DESC
		)
		WHERE <![CDATA[ ROWNUM <=5 ]]>
	</select>

</mapper>
