<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trip">
	<!-- 출장/외근 추가 -->
	<insert id="insert">
		insert into
		trip(TRIP_NO,EMP_NO,START_PLACE,MIDDLE_PLACE,END_PLACE,
		PLACE,WORK,PURPOSE,NOTES,STARTDate,ENDDATE,STATUS,NAME,CHECKD,period)
		values (
		trip_seq.nextval,#{empNo},#{startPlace},#{middlePlace},#{endPlace},#{place}
		,#{work},#{purpose},#{notes},#{startDate},#{endDate},0,#{name},#{check},#{period}
		)
	</insert>

	<!-- 출장 대상자 추가 -->
	<insert id="personInsert">
		insert into trip_person values (#{empNo},#{tripNo})
	</insert>


	<!-- 개인출장 결재완료 리스트조회 -->
	<select id="tripList" resultType="TripDto">
		SELECT * FROM trip WHERE emp_no
		= #{empNo} AND status = 1 AND EXTRACT(YEAR FROM usedDate) =
		#{selectedValue}
	</select>

	<!-- 개인출장 결재완료 리스트조회 -->
	<select id="queue" resultType="TripDto">
		SELECT * FROM trip WHERE emp_no =
		#{empNo} AND (status = 0 or status = 2)
	</select>


	<select id="adminList" resultType="TripDto">
		SELECT t.*, e.emp_name
		FROM
		trip t
		JOIN employee e ON t.emp_no = e.emp_no
		WHERE t.status = 0 ORDER
		BY usedDate ASC

	</select>

	<select id="no" resultType="String">
		select trip_no from (select trip_no
		from trip where emp_no= #{empNo} order by trip_no DESC) where ROWNUM =
		1
	</select>

	<!-- 관리자페이지 사원 연차 사용조회 -->
	<select id="oneList" resultType="TripDto">
		SELECT e.emp_Name,d.dept_name,
		t.*
		FROM trip t
		JOIN employee e ON t.emp_no = e.emp_no
		join DEPARTMENT d
		on e.dept_no= d.dept_no
		WHERE t.trip_no = #{tripNo}

	</select>
	<!-- 출장대상자 리스트 조회 -->
	<select id="personList" resultType="TripPersonDto">
		SELECT e.EMP_Name,
		j.JOB_NAME, d.DEPT_NAME
		FROM trip_person tp
		JOIN trip t ON tp.TRIP_NO =
		t.TRIP_NO
		JOIN employee e ON tp.EMP_NO = e.EMP_NO
		JOIN job j ON e.JOB_NO
		= j.JOB_NO
		JOIN department d ON e.DEPT_NO = d.DEPT_NO
		WHERE t.TRIP_NO =
		#{tripNo}

	</select>

	<update id="status">
		UPDATE trip
		SET status = #{status}
		WHERE trip_no = #{tripNo}
	</update>


</mapper>