<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="workBoard">
	
	<select id="sequence" resultType="int">
		select work_board_seq.nextval from dual
	</select>
	
	<insert id="save">
		insert into work_board(
			work_no, emp_no, work_title,
			work_content, work_start, work_deadline,
			work_status, work_report_date, work_secret, work_type
		)
		values(
			#{workNo}, #{empNo}, #{workTitle},
			#{workContent}, #{workStart}, #{workDeadline},
			#{workStatus}, sysdate, #{workSecret}, #{workType}
		)
	</insert>
	
	<select id="find" resultType="WorkEmpInfo">
		select * from work_emp_info where work_no = #{workNo}
	</select>
	
	<update id="edit">
		update work_board set
		work_title = #{workTitle}, work_content = #{workContent},
		work_start = #{workStart}, work_deadline = #{workDeadline},
		work_status = #{workStatus}, work_secret = #{workSecret},
		work_type = #{workType}
		where work_no = #{workNo}
	</update>
	
	<delete id="delete">
		delete work_board
		where work_no = #{workNo}
	</delete>
	
	<select id="list" resultType="WorkEmpInfo">
		select * from work_emp_info where dept_no = #{deptNo} order by work_report_date desc
	</select>
	
	<select id="listByJobNoWithSecret" resultType="WorkEmpInfo">
	  SELECT * FROM work_emp_info
	  WHERE dept_no = #{deptNo}
	    AND (work_secret = 'N' OR (work_secret = 'Y' AND emp_no = #{empNo}))
	    ORDER BY work_report_date desc
	</select>
	
	<select id="searchListByJobNoWithSecret" resultType="WorkEmpInfo">
	 	SELECT * FROM work_emp_info
		WHERE instr(${column}, #{keyword}) > 0
	  	AND dept_no = #{deptNo}
	    AND (work_secret = 'N' OR (work_secret = 'Y' AND emp_no = #{empNo}))
	    order by ${column} asc
	</select>
	
	<!-- 내 업무일지 -->
	<select id="searchMyWorkList" resultType="WorkEmpInfo">
	  select * from work_emp_info where instr(${column}, #{keyword}) > 0 and emp_no = #{empNo} order by ${column} asc
	</select>

	<select id="myWorkList" resultType="WorkEmpInfo">
		select * from work_emp_info where emp_no = #{empNo} order by work_report_date desc
	</select>
	
	<select id="getMyWorkList" resultType="WorkEmpInfo">
		<![CDATA[
		  SELECT *
		  FROM (
		    SELECT e.*, ROWNUM AS rn
		    FROM work_emp_info e
		    WHERE ROWNUM <= #{end}
		  )
		  WHERE rn >= #{begin}
		  ]]>
	</select>
	
</mapper>