<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="workReport">
	
	<insert id="insert">
		insert into work_report(
			work_no, work_sup
		)
		values(
			#{workNo}, #{workSup}
		)
	</insert>
	
	<select id="list" resultType="workReportDto">
		select * from work_report order by work_no asc
	</select>
	
	<select id="find" resultType="workReportDto">
		SELECT wr.*, e.emp_name
		FROM work_report wr
		LEFT JOIN employee e ON wr.work_sup = e.emp_no
		where work_no = #{workNo}
	</select>
	
	<!-- 보고받은 업무일지 -->
	<select id="supList" resultType="SupWithWorkDto">
		select * from sup_with_work where work_sup = #{workSup}
	</select>
	
</mapper>