<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="workAttach">
	<insert id="insert">
		insert into work_attach(
			uuid, upload_path, file_name, file_type, work_no
		)
		values(
			#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{workNo}
		)
	</insert>
	
	<delete id="delete">
		delete from work_attach where uuid = #{uuid}
	</delete>
	
	<select id="findByWorkNo" resultType="workAttachVO">
		 select * from work_attach where work_no = #{workNo}
	</select>
</mapper>