<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="workReport">
	
	<insert id="insert">
		insert into work_report(
			work_no, work_sup
		)
		values(
			#{workNo}, #{workSup}
		)
	</insert>
	
	<select id="list" resultType="workReportDto">
		select * from work_report order by work_no asc
	</select>
	
	<!-- 보고받은 업무일지 -->
	<select id="supList" resultType="SupWithWorkDto">
		select * from sup_with_work where work_sup = #{workSup}
	</select>
	
	<!-- 내 업무일지(임시) -->
	<resultMap type="ReportWithWorkBoardVO" id="rwvo">
		<association property="workReportDto" javaType="WorkReportDto">
			<result column="work_no" property="workNo"/>
			<result column="work_sup" property="workSup"/>
		</association>
		<collection property="workBoardList" select="workBoardByWorkSup"
				javaType="java.util.List" ofType="WorkBoardDto"
				column="work_sup">
		</collection>
	</resultMap>
	
	<select id="reportWithWorkBoard" resultMap="rwvo">
		select * from work_report
		<where>
			<if test="workSup != null and !workSup.equals('')">
				and work_sup = #{workSup}
			</if>
		</where>
	</select>
	
	<select id="workBoardByWorkSup" resultType="workBoardDto">
		select * from work_board where emp_no = #{workSup}
	</select>

</mapper>